<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 设置viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>网络文件管理系统</title>
    <!-- 引入框架 -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/godown.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/godown.css">
</head>
<body>
<!-- 模态框 -->
<div class="container">
    <!-- 过度效果：fade -->
    <div class="modal fade" id="modal">
        <!-- 大小：modal-sm modal-lg -->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">上传文件</h4>
                </div>
                <div class="modal-body">
                    <form id="uform" enctype="multipart/form-data" action="/upload.go" method="post">
                        <div class="form-group">
                            <label for="fn"> </label>
                            <input class="form-control" type="file" size="50" name="file" id="fn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="ubtn" type="button" class="btn btn-success">上传</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 导航条 -->
<!-- 样式： avbar-invers 和 navbar-default -->
<!-- 位置:  navbar-fixed-top 和 navbar-fixed-bottom -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- 导航头部 navbar-header -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand">德纳科技</a>
        </div>
        <!-- 导航项目 -->
        <!-- 选中状态 active -->
        <div id="navbar" class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" action="#" method="post">
                <div class="form-group">
                    <input id="fscan" type="text" name="f" class="form-control btn-lg" placeholder="文件关键字">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <div class="nav navbar-btn navbar-right">
                <button id="btn" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal">上传文件
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- 面板表格 -->
<div id="panel" class="container">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            网络文件管理系统（德纳科技）
        </div>
        <!-- 盒子 -->
        <div class="panel-body">
            欢迎使用网络文件管理系统（德纳科技）<br>
        </div>
        <!-- 表格 -->
        <table class="table table-striped">
            <thead>
            <tr class="active success">
                <th>编号</th>
                <th>文件名称</th>
                <th>文件大小</th>
                <th>创建日期</th>
                <th>下载</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .Files}}
            <tr>
                <td>{{.Id}}</td>
                <td id="fname">{{.Name}}</td>
                <td id="fsize">{{.Size}}</td>
                <td id="ftime">{{.Date}}</td>
                <td><a href="../download.go?f={{.Name}}">下载</a></td>
                {{if .Stat}}
                <td><a href="../rmfile.go?f={{.Name}}">删除</a></td>
                {{else}}
                <td>删除</td>
                {{end}}
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>