.panel {
    margin-top: 60px;
}
.panel th {
    text-align: center;
}
.panel td {
    text-align: center;
}

#footer {
	padding: 30px;
	text-align: center;
}

#fsize {
    text-align: left;
}

#fname {
    text-align: left;
}

#ftime {
	text-align: left;
}

#fscan {
    font-size: small;
}

