<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}
.font051 {font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.font201 {font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: "宋体";
	font-size: 14px;
	height: 37px;
}
html { overflow-x: auto; overflow-y: auto; border:0;} 
.colorf {
	color: #FFFFFF;
}
-->
</style>

<link href="../css/css.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">

</script>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form name="fom" id="fom" method="post" action="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td height="30">      
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="62" background="../images/nav04.gif">
		
		  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
		    <tr>
			  <td width="24"><img src="/images/ico07.gif" width="20" height="18" /></td>
			  <td>
			  	<form action="../scanfile.go" method="post"> 
			  <label>
			  <span>文件名: </span><input name="f" type="text"/>
			  </label>
			    <input name="Submit2" type="submit" class="right-button01" value="搜索"/>
			    </form>
			   </td>
			
		    </tr>
          </table>    
	</td>
    </tr>
	
    </table></td></tr>
  <tr>
    <td><table id="subtree1" style="DISPLAY: " width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
          	 <tr>
               <td height="20">&nbsp;</td>
          	 </tr>
              <tr>
                <td height="40" class="font42">
				<table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
				 <tr class="CTitle" >
                    	<td height="22" colspan="7" align="center" style="font-size:16px" class="colorf">文件信息查看</td>
                  </tr>  
                  <tr bgcolor="#EEEEEE">
                    <td align="center" width="30%">文件名称</td>
                    <td align="center" width="20%">文件大小</td>
                    <td align="center" width="30%">创建日期</td>
                    <td align="center" width="10%">下载</td>
                    <td align="center" width="10%">操作</td>
                  </tr>
				   {{range .Files}} 
					<tr bgcolor="#FFFFFF">  
						<td>{{.Name}}</td>
						<td>{{.Size}}</td>
						<td>{{.Date}}</td>
						<td><a href="../delfile.nutz?id=${obj.id}">下载</a></td>
						<td><a href="../delfile.nutz?id=${obj.id}">删除</a></td>
					</tr>
                   {{end}} 
				  </table>
		</td>
        </tr>
      </table>
      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="6"><img src="../images/spacer.gif" width="1" height="1" /></td>
        </tr>
        <tr>
          <td height="33"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="right-font08">
              <tr>
			<!--
                <td width="50%">共 <span class="right-text09">${obj.pager.pageCount}</span> 页 | 第 <span class="right-text09">${obj.pager.pageNumber}</span> 页</td>
                <td width="49%" align="right">[ <a href="../filelist.nutz?&pageNumber=1&pageSize=15" class="right-font08">首页</a> |
					<span>
					<c:if test="${obj.pager.pageCount > obj.pager.pageNumber}">
						<a href="../filelist.nutz?&pageNumber=${obj.pager.pageNumber+1}&pageSize=15" class="right-font08">下一页</a> |
					</c:if>
					<c:if test="${obj.pager.pageCount <= obj.pager.pageNumber}">下一页 |
					</c:if>
					<c:if test="${obj.pager.pageNumber > 1}">
						<a href="../filelist.nutz?&pageNumber=${obj.pager.pageNumber-1}&pageSize=15" class="right-font08">上一页 </a> |
					</c:if>
					<c:if test="${obj.pager.pageNumber <= 1}">上一页  |</c:if>
					<a href="../filelist.nutz?&pageNumber=${obj.pager.pageCount}&pageSize=15" class="right-font08">末页</a>
					</span>]</td>
                <td width="1%"><table width="20" border="0" cellspacing="0" cellpadding="0">
                </table></td>
				-->
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</td>
</tr>
</table>
</form>
</body>
</html>